.products {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(187, 182, 172, 0.699), rgba(187, 182, 172, 0.699), rgb(0, 0, 0));
    color: white;
}

.product-name {
    color: rgb(119, 92, 200);
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 23px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.card {
    width: 320px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-image: linear-gradient(black, rgb(68, 68, 68))
}

.product-image {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: block;
    object-fit: cover;
}

.product-price {
    color: rgb(232, 241, 130);
    margin: 10px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    font-family: 'Lobster', cursive;
    text-align: center;
    line-height: 30px;
}

.product-description {
    color: rgb(249, 150, 185);
    margin: 5px;
    line-height: 23px;
    text-align: center;
    position: relative;
    bottom: 20px;
    font-family: 'Abel', sans-serif;
    
}

.product-add-button {
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(#74faa5, rgba(146, 158, 151, 0.699));
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
    position: relative;
    bottom: 20px;
}

.product-add-button:hover {
    background-color: rgb(214, 221, 148);
}

.product-add-button:active {
    transform: translateY(2px);
}