* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(45deg, #d20000,rgb(128, 0, 111), #7462ff, #f48e21, #74faa5, rgb(39, 95, 248));
  background-size: 300% 300%;
  animation: color 8s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}